@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.site-header, .site-footer, main section {
    border: 1px solid blue;
    margin: 10px;
}

.site-header {
    background-image: url("images/Layer-759_02.jpg");
    background-size: cover;
    min-height: 400px;
}

nav.top-navigation {
    background: rgba(190, 150, 95, 0.9);
    width: 60%;
    margin: 0 auto;
}

nav.top-navigation ul {
    padding: 0;
    text-align: center;
}

nav.top-navigation ul li {
    display: inline-block;
    padding: 10px;
    margin: 0 10px;
}

nav.top-navigation ul li a {
    color: #FFF8DD;
    text-decoration: none;
}

nav.top-navigation ul li a:hover {
    color: #FFC584;
}

nav.top-navigation ul li a.selected {
    color: #FFC584;
}

section.slider {
    text-align: center;
    color: #ffffff;
}

section.slider h1 {
    text-transform: uppercase;
    text-shadow: 0px 0px 12px black;
    font-size: 3em;
    margin-top: 70px;
}

section.slider p {
    text-shadow: 0px 0px 4px black;
    font-size: 1.2em;
    margin: 0 auto;
    /*background: rgba(150, 150, 150, 0.4);
   /* box-shadow: 0px 0px 15px 15px rgba(150, 150, 150, 0.4);*/
}

section.slider button {
    margin-top: 30px;
    color: white;
    font-weight: bold;
    background-color: #080820;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    box-shadow: 0px 0px 1px white;
    position: relative;
    text-transform: uppercase;
}

section.slider i {
    color: #C79D63;
    position: absolute;
    right: 0px;
    top: 11px;
    padding: 0px 2px;
}

section.slider button:hover, section.slider button:hover i {
    background-color: #C79D63;
    color: #110907;
}
section.industries{
    text-align: center;
}

.industries article {
    width: 400px;
    display: inline-block;
    margin: 10px;
}
.industries h1 {
    font-weight: bold;
    font-size: 3em;
}
.industries .icon{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #080820;
    color: white;
    line-height: 35px;
    margin: 10px 5px;
    font-size: 1.5em;
    float: left;
}
.industries article h2{
    text-align: left;
    margin-left: 60px;
    font-size: 1.2em;
}
.industries article p{
    text-align: left;
    margin-left: 60px;
}
.benefits article {
    width: 300px;
    border: 1px solid green;
    display: inline-block;
    margin: 10px;
}

.site-footer section {
    width: 300px;
    border: 1px solid green;
    display: inline-block;
    margin: 10px;
}

.instagram-widget li {
    display: inline-block;
}